<html>
    <head>
        <title>SongJam | Room {{ room }}</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css')}}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
            integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
            crossorigin="anonymous"></script>
        <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
        <script type="text/javascript" src="//cdn.socket.io/4.4.1/socket.io.min.js"></script>
        <script type="text/javascript" src="https://apis.google.com/js/api.js"></script>
        <script type="text/javascript" charset="utf-8" src="{{url_for('static', filename='scripts/roomScript.js')}}"></script>
    </head>
    <div class="container-fluid" style="width: 100%;">
        <div class="row">
            <div class="col-8">
                <h1>Room {{ room }}</h1>
                <a href="#" onclick="leave_room();">Leave this room</a>
                <div id="player"></div>
                <select hidden id="current">
                    <option value="0">0</option>
                </select>
            </div>
            <div class="col-4">
                <h4>Activity Log</h4>
                <textarea id="activityLog" class="form-control" spellcheck="false" cols="50" rows="20"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-8">
                <input id="text" size=50% placeholder="Queue song">
                <br><br><br><br>
                <div id="searchResults"></div>
            </div>
            <div class="col-4">
                <h4>Queue</h4>
                <ul id="videos"></ul>
            </div>
        </div>
    </div>
</html>
