<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/roomAction.css')}}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
            integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
            crossorigin="anonymous"></script>
    <title>SongJam</title>
</head>
<body class="vh-100" style="background: linear-gradient(to right, rgba(58, 13, 163, 1), rgba(76, 201, 240, 1));">
<div class="container h-100">
    <div class="row d-flex justify-content-between align-items-center roomAction h-75">
        {% for i in range(ids|length) %}
        <div class="col-4">
            <a href="{{ '/room/%s'%ids[i] }}">
                <div class='card bg-dark text-white p-12 browseRoomCard'>
                    <div class="card-body text-center">
                        <div class="mb-lg-3 mt-lg-3">
                            <h5 class="card-title">Room {{ rooms[i] }}</h5>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
<!--        <div class="col-4">-->
<!--            <div class="card bg-dark text-white">-->
<!--                <div class="card-body text-center">-->
<!--                    <div class="mb-md-5 mt-md-4">-->
<!--                        <a href=joinRoom>-->
<!--                            <button type="button" class="btn btn-dark">-->
<!--                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"-->
<!--                                     class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">-->
<!--                                    <path fill-rule="evenodd"-->
<!--                                          d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z"/>-->
<!--                                    <path fill-rule="evenodd"-->
<!--                                          d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>-->
<!--                                </svg>-->
<!--                                <h4>Join Room</h4>-->
<!--                            </button>-->
<!--                        </a>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="col-4">-->
<!--            <div class="card bg-dark text-white">-->
<!--                <div class="card-body text-center">-->
<!--                    <div class="mb-md-5 mt-md-4">-->
<!--                        <a href=browseRoom>-->
<!--                            <button type="button" class="btn btn-dark">-->
<!--                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"-->
<!--                                     class="bi bi-search" viewBox="0 0 16 16">-->
<!--                                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>-->
<!--                                </svg>-->
<!--                                <h4>Browse Rooms</h4>-->
<!--                            </button>-->
<!--                        </a>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
    </div>
</div>
</body>
</html>

