<html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
            crossorigin="anonymous"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" charset="utf-8"
            src="{{url_for('static', filename='scripts/roomAction/createRoom.js')}}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/roomAction.css')}}">
    <title>SongJam | Create Room</title>
</head>
<body>
<div class="container">
    <div class="row justify-content-center align-items-center h-100">
        <div class="card bg-dark text-white cardForm">
            <div class="card-body p-5 text-center">
                <h3 class="roomActionTitle">Create Room</h3>
                <form id="createRoom" method="POST">
                    {{ form.csrf_token }}
                    {{ form.name() }} {% for error in form.name.errors %}{{ error }}{% endfor %}<br>
                    {{ form.roomName() }} {% for error in form.roomName.errors %}{{ error }}{% endfor %}<br>
                    {% for roomType in form.roomType %}
                    {{ roomType }}
                    {{ roomType.label }}
                    {% endfor %}
                    {% for error in form.roomType.errors %}{{ error }}{% endfor %}<br>
                    {{ form.roomPassword() }} {% for error in form.roomPassword.errors %}{{ error }}{% endfor %}<br>
                    {{ form.submit()}}
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>
