body {
    background: linear-gradient(to right, rgb(92, 74, 122), rgb(81, 136, 155));
    padding: 2rem;
}

.container {
    width: 100%;
    height: 20rem;
}

img {
    display: block;
    width: auto;
    height: auto;
}
