body {
    background: linear-gradient(to right, rgb(92, 74, 122), rgb(81, 136, 155));
    padding: 2rem;
}

img {
    padding-top: 9rem;
    opacity: 60%;
    margin-left: auto;
    margin-right: auto;
    }

a {
    color: #a8a8a8;
}

.errorMessage {
      text-align: center;
}
