<html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='error/roomAction.css')}}">
    <title>SongJam | No Rooms Found</title>
</head>
<body>
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <img class src="{{url_for('static', filename='images/maze.png')}}"/>
        </div>
    </div>
</body>
</html>
