<html>
    <head>
        <title>SongJam - Room {{ room }}</title>
        <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
        <script type="text/javascript" src="//cdn.socket.io/4.4.1/socket.io.min.js"></script>
        <script type="text/javascript" src="https://apis.google.com/js/api.js"></script>
        <script type="text/javascript" charset="utf-8">
            var socket;
            var tag = document.createElement('script');
             tag.src = "https://www.youtube.com/iframe_api";
             var firstScriptTag = document.getElementsByTagName('script')[0];
             firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

            var player;
            function onYouTubeIframeAPIReady() {
                player = new YT.Player('player', {
                height: '390',
                width: '640',
                playerVars: {
                    'autoplay': 1,
                    'controls': 0,
                    'origin': "https://www.youtube.com"},
                events: {
                    'onReady': onPlayerReady,
                    'onStateChange': onPlayerStateChange
                }
                });
            }

            function onPlayerReady(event) {
                event.target.playVideo();
            }

            function onPlayerStateChange(event) {
                    $('#test').text(player.getCurrentTime());
            }

            $(document).ready(function(){
                socket = io.connect('http://' + document.domain + ':' + location.port + '/chat');

                socket.on('connect', function() {
                    socket.emit('joined', {});
                    socket.emit('displayPlaylist');
                    // socket.emit('displayVideo', {msg: player.getCurrentTime()})
                    socket.emit('displayVideo');
                });

                socket.on('status', function(data) {
                    $('#activityLog').val($('#activityLog').val() + '<' + data.msg + '>\n');
                    $('#activityLog').scrollTop($('#activityLog')[0].scrollHeight);
                });

                socket.on('playlist', function(data) {
                     $('#videos').empty();
                     for (let i=0; i<data.msg.length; i++){
                         $('#videos').append('<li>' + data.msg[i].split(",")[0] + '</li>');
                     }
                });

                socket.on('video', function(data) {
                    // player.loadVideoById({videoId: data.video, startSeconds: data.time});
                    player.loadVideoById({videoId: data.video});
                });

                $('#text').keypress(function(e) {
                   var code = e.keyCode || e.which;
                   if (code == 13) {
                       text = $('#text').val();
                       $('#text').val('');
                       socket.emit('addSong', {msg: text});
                       socket.emit('displayPlaylist');
                       socket.emit('displayVideo')
                   }});
            });
            function leave_room() {
                socket.emit('left', {}, function() {
                    socket.disconnect();
                    window.location.href = "{{ url_for('index') }}";
                });
            }

        </script>
    </head>
    <body>
        <h1>Song Jam - Room: {{ room }}</h1>

        <div id="player"></div>
        <div id="current">0:00</div>

        <div id="test">TEST</div>

        <h4>Activity Log</h4>
        <textarea id="activityLog" cols="80" rows="10"></textarea><br><br>
        <input id="text" size="80" placeholder="Queue your song here"><br><br>

        <h4>Queue</h4>
        <ul id="videos"></ul>
        <a href="#" onclick="leave_room();">Leave this room</a>
    </body>
</html>
