.roomBody {
  background-color: #3A0CA3;
  text-align: center;
}

.container {
  background-color: #3A0CA3;
  text-align: center;
}

h1 {
  color: #4CC9F0;
}
div {
  color: #baebff;
}

.card text-white bg-dark mb-3 {
  text-align: center;
}

form {
  display: inline-block;
  text-align: center;
  padding-top: 2rem;
}

textarea {
  width: 100%;
}

